

button{
  background-color: #E50914;
  color: #ffffff;
  transition: all 0.6s;
}

button:hover{
  background-color: #ffffff;
  color: #E50914;
}
img{
  width: 100%;
  cursor: pointer;
}

h5{
  color: #ffffff;
}
